{% extends 'base.html' %} 
{% load static %} 
{% block title %}
Formulário para Nova Notícia{% endblock %} 
{% block content %}
<div class="news-form">
<form method="post" action="{% url 'news-form' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="news-form">
      <label for="id_title">Título:</label>
      <input type="text" name="title" id="id_title"/>
  </div>
  <div class="news-form">
      <label for="id_content">Conteúdo:</label>
      <textarea name="content" id="id_content" class="news-content"></textarea>
  </div>
  <div class="news-form">
  <label for="id_author">Autoria:</label>
  <select name="author" class="news-form">
    {% for author in authors %}
    <option value="{{ author.id }}">{{ author.name }}</option>
    {% endfor %}
  </select>
  </div>
    <label for="id_created_at">Criado em:</label>
    <input type="date" name="created_at" id="id_created_at" />
    <label for="id_image">URL da Imagem:</label>
    <input type="file" name="image" id="id_image"/>
    <div id="id_categories">
      {% for category in categories %}
        <label for="id_categories_{{ category.id }}">{{ category.name }}</label>
        <input type="checkbox" name="categories" id="id_categories_{{ category.id }}" value="{{ category.id }}" />
      {% endfor %}
    </div>
  <div class="button">
  <button type="submit">Salvar</button>
  </div>
</form>
</div>
{% endblock %}